body {
    background: #303031 url('../imagenes_cabecera_pdf/Fondo.png') center center no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    color: #222;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.container {
    max-width: 600px;
    margin: 80px auto;
    background: #181818;
    border-radius: 24px;
    box-shadow: 0 4px 24px 0 rgba(175, 172, 172, 0.1);
    padding: 2.5rem 2rem;
}

.alert-success {
    background: #454546;
    color: #ebf3ed;
    border: 1.5px solid #82cc0e;
    border-radius: 18px;
    padding: 2.5rem 2rem;
    box-shadow: 0 0 24px 0 #82cc0e33;
}

.alert-success h2 {
    text-align: center;
}

.alert-success p {
    text-align: center;
}

h2 {
    color: #82cc0e;
    font-size: 2.2rem;
    font-weight: 800;
    margin-bottom: 1.2rem;
}

p {
    font-size: 1.15rem;
    margin-bottom: 0;
}

@media (max-width: 700px) {
    .container {
        max-width: 98vw;
        padding: 1.2rem 0.5rem;
        border-radius: 14px;
    }
    .alert-success {
        padding: 1.2rem 0.5rem;
        border-radius: 10px;
        font-size: 1rem;
    }
    h2 {
        font-size: 1.3rem;
    }
    p {
        font-size: 1rem;
    }
} 